<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Editar</title>
</head>

<body>

<h2>Editar Registro</h2>

<form method="POST">

<input type="date" name="data" value="{{ r['data'] }}"><br><br>

<input name="titulo" value="{{ r['titulo'] }}"><br><br>

<input name="colaborador" value="{{ r['colaborador'] }}"><br><br>

<select name="cliente">
{% for c in clientes %}
<option value="{{ c }}" {% if c == r['cliente'] %}selected{% endif %}>
{{ c }}
</option>
{% endfor %}
</select><br><br>

<select name="nivel">
<option value="1" {% if r['nivel'] == "1" %}selected{% endif %}>1</option>
<option value="2" {% if r['nivel'] == "2" %}selected{% endif %}>2</option>
<option value="3" {% if r['nivel'] == "3" %}selected{% endif %}>3</option>
<option value="4" {% if r['nivel'] == "4" %}selected{% endif %}>4</option>
</select><br><br>

<button type="submit">Salvar</button>

</form>

<br>
<a href="/">Voltar</a>

</body>
</html>