<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Editar</title>

<style>
body {
    font-family: Arial;
    background: #f1f5f9;
    padding: 20px;
}

.card {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    width: 400px;
}
</style>
</head>

<body>

<h2>✏️ Editar Registro</h2>

<div class="card">
<form method="POST">

    <label>Data:</label><br>
    <input type="date" name="data" value="{{ r['data'] }}"><br><br>

    <label>Título:</label><br>
    <input name="titulo" value="{{ r['titulo'] }}"><br><br>

    <label>Cliente:</label><br>
    <select name="cliente">
        {% for c in clientes %}
        <option {% if c == r['cliente'] %}selected{% endif %}>
            {{c}}
        </option>
        {% endfor %}
    </select><br><br>

    <label>Nível:</label><br>
    <select name="nivel">
        <option value="1" {% if r['nivel']=='1' %}selected{% endif %}>N1</option>
        <option value="2" {% if r['nivel']=='2' %}selected{% endif %}>N2</option>
        <option value="3" {% if r['nivel']=='3' %}selected{% endif %}>N3</option>
        <option value="4" {% if r['nivel']=='4' %}selected{% endif %}>N4</option>
    </select><br><br>

    {% if is_admin %}
    <label>Operador:</label><br>
    <input name="colaborador" value="{{ r['colaborador'] }}"><br><br>
    {% endif %}

    <button>💾 Salvar Alterações</button>

</form>
</div>

<br>
<a href="/">⬅ Voltar</a>

</body>
</html>