<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Gráfico</title>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>

<body>

<h2>Gráfico por Operador</h2>

<form method="GET">
<select name="operador">
<option value="todos">Todos</option>

{% for op in operadores %}
<option value="{{ op }}">{{ op }}</option>
{% endfor %}

</select>

<button>Filtrar</button>
</form>

<br>

<canvas id="grafico" width="300"></canvas>

<h3>Valores</h3>

<p>N1: R$ {{ valor_n1 }}</p>
<p>N2: R$ {{ valor_n2 }}</p>
<p>N3: R$ {{ valor_n3 }}</p>
<p>N4: R$ {{ valor_n4 }}</p>

<h2>Total: R$ {{ total_valor }}</h2>

<script>
new Chart(document.getElementById("grafico"), {
type: 'pie',
data: {
labels: ["N1","N2","N3","N4"],
datasets: [{
data: [{{ n1 }}, {{ n2 }}, {{ n3 }}, {{ n4 }}]
}]
}
});
</script>

</body>
</html>