<!DOCTYPE html>
<html>
<head>
<title>Usuários</title>

<style>
body {margin:0;font-family:Arial;display:flex;background:#f1f5f9;}
.sidebar {width:220px;background:#0f172a;color:white;height:100vh;padding:20px;position:fixed;}
.sidebar a {display:block;color:white;margin:10px 0;text-decoration:none;padding:10px;}
.main {margin-left:240px;padding:20px;width:100%;}
.box {background:white;padding:20px;border-radius:10px;}
</style>
</head>

<body>

<div class="sidebar">
    <h2>OPSEG</h2>
    <a href="/">Dashboard</a>
    <a href="/grafico">Gráficos</a>
    <a href="/usuarios">Usuários</a>
    <a href="/clientes">Clientes</a>
    <a href="/logout">Sair</a>
</div>

<div class="main">
<div class="box">

<h2>Cadastrar Usuário</h2>

<form method="POST">
<input name="username" placeholder="Usuário" required>
<input name="password" placeholder="Senha" required>

<select name="tipo">
<option value="admin">Admin</option>
<option value="normal">Normal</option>
</select>

<button>Cadastrar</button>
</form>

</div>
</div>

</body>
</html>