<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Usuários</title>

<style>
body { font-family:Arial; background:#f1f5f9; padding:20px; }
.card { background:#fff; padding:20px; border-radius:10px; }
</style>
</head>

<body>

<h2>Usuários</h2>

<div class="card">

<form method="POST">
<input name="username" placeholder="Usuário" required>
<input name="password" placeholder="Senha" required>

<select name="tipo">
<option value="admin">Admin</option>
<option value="operador">Operador</option>
</select>

<button>Criar</button>
</form>

<br>

<table border="1" width="100%">
<tr>
<th>Usuário</th>
<th>Tipo</th>
</tr>

{% for u in usuarios %}
<tr>
<td>{{ u['username'] }}</td>
<td>{{ u['tipo'] }}</td>
</tr>
{% endfor %}

</table>

</div>

<br>
<a href="/">⬅ Voltar</a>

</body>
</html>