<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Usuários</title>

<style>
body { font-family: Arial; padding:20px; background:#f1f5f9; }

.container {
    background:white;
    padding:20px;
    border-radius:10px;
    width:400px;
    margin:auto;
}

input, select {
    width:100%;
    padding:8px;
    margin:8px 0;
}

button {
    width:100%;
    padding:10px;
    background:#22c55e;
    color:white;
    border:none;
}
</style>

</head>

<body>

<div class="container">

<h2>Cadastrar Usuário</h2>

<form method="POST">

<input name="username" placeholder="Login" required>
<input name="password" placeholder="Senha" required>

<select name="tipo" required>
<option value="usuario">Usuário</option>
<option value="admin">Administrador</option>
</select>

<button type="submit">Cadastrar</button>

</form>

<hr>

<h3>Usuários cadastrados</h3>

{% for u in usuarios %}
<p>{{ u['username'] }} - {{ u['tipo'] }}</p>
{% endfor %}

<br>
<a href="/">⬅ Voltar</a>

</div>

</body>
</html>